$body-background-color: #f8f8f8;
$soil-color: #6e7cff;
$air-color: #739c98;
$temp-color: #f57c00;
$light-color: #c6951e;
$main-color: #388e3c;
$user-info-color: #455a64;
$main-text-color: #767676;
$temp-card-color: rgba(235, 164, 93, 0.4);
$air-hum-card-color: rgba(159, 228, 220, 0.4);
$soil-hum-card-color: rgba(110, 124, 255, 0.4);
$light-card-color: rgba(255, 217, 163, 0.4);

@font-face {
  font-family: 'Playfair Regular';
  src: url('../assets/fonts/PlayfairDisplay-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Extra Bold';
  src: url('../assets/fonts/PlayfairDisplay-ExtraBold.ttf');
  font-weight: normal;
  font-style: normal;
}

$playfair-regular: "Playfair Regular";
$playfair-xtra-bold: "Playfair Extra Bold";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $body-background-color;
  width: 100%;
}

.nav-bar {
  width: 100%;

  .nav-logo-img,
  .user-profile-img {
    width: 6vw;
  }

  .nav-title {
    font-size: 6vw;
    font-family: $playfair-regular;
    text-transform: uppercase;
    color: $main-color;
  }

  .user-name {
    font-size: 3.5vw;
    font-family: $playfair-regular;
    text-transform: capitalize;
    color: $user-info-color;
  }

  .config-icon {
    font-size: 6vw;
    color: $main-color;
  }
}

main {
  width: 100%;

  .sector-title {
    color: $main-text-color;
    font-family: $playfair-xtra-bold;
    font-size: 9vw;
  }

  .last-scan-container {
    color: #111;
    font-family: $playfair-regular;
    font-size: 2.8vw;
  }

  .temp-card {
    font-family: $playfair-regular;
    color: $temp-color;
    border: 1px solid $temp-card-color;
    box-shadow: 1px 1px 1px $temp-card-color, -1px -1px 1px $temp-card-color;
    border-radius: 6px;
  }

  .air-hum-card {
    font-family: $playfair-regular;
    color: $air-color;
    border: 1px solid $air-hum-card-color;
    box-shadow: 1px 1px 1px $air-hum-card-color, -1px -1px 1px $air-hum-card-color;
    border-radius: 6px;
  }

  .soil-hum-card {
    font-family: $playfair-regular;
    color: $soil-color;
    border: 1px solid $soil-hum-card-color;
    box-shadow: 1px 1px 1px $soil-hum-card-color, -1px -1px 1px $soil-hum-card-color;
    border-radius: 6px;
  }

  .light-card {
    font-family: $playfair-regular;
    color: $light-color;
    border: 1px solid $light-card-color;
    box-shadow: 1px 1px 1px $light-card-color, -1px -1px 1px $light-card-color;
    border-radius: 6px;
  }

  .devices-info-container {
    .device-title {
      color: $main-text-color;
    }

    .fa-faucet {
      color: $soil-color;
    }

    .fa-lightbulb {
      color: $light-color;
    }

    .fa-fan {
      color: $air-color;
    }
  }
}
